/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Dekko|Short+Stack&display=swap");

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
  padding: 0;
}
